@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: none; }

/* slider */
.container {
  padding-top: 150px;
  padding-bottom: 200px; }

/*mobile*/
@media only screen and (max-width: 767px) {
  .container {
    padding-bottom: 300px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: none;
  color: #ffffff; }

/*SECCIÓN EQUIPO*/
h2 {
  padding-bottom: 50px;
  font-size: 36px;
  text-transform: uppercase;
  color: #46587f;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center; }

.animate__animated {
  font-size: 36px;
  text-align: center;
  color: #46587f;
  font-family: "Montserrat", sans-serif;
  font-weight: 900; }

.descripcion {
  display: block;
  justify-content: center;
  text-align: justify; }
  .descripcion .des {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    padding: 15px 250px 15px 250px;
    line-height: 3.8; }

.contenedorequipo {
  background: #ffffff;
  --animate-duration: 3s; }

.flexequipo {
  display: flex;
  justify-content: center;
  padding: 70px;
  padding-bottom: 100px; }

.team {
  width: 450px;
  height: 430px;
  margin: 40px;
  background: #ffffff;
  position: relative;
  transition: .6s ease-out;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px; }
  .team img {
    width: 100%;
    height: 150%;
    object-fit: cover;
    border-radius: 5px; }

.team:hover {
  transform: translateY(15px); }

.team:hover::before {
  opacity: 1; }

.team:hover .text {
  opacity: 1;
  transform: translateY(0); }

.team:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(top, #000, transparent);
  z-index: 2;
  transition: 0.5s;
  opacity: 0; }

.team img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.team .text {
  position: relative;
  padding: 15px;
  padding-top: 280px;
  z-index: 3;
  color: #ffffff;
  opacity: 0;
  transform: translateY(-50px);
  transition: 0.5s; }

.text span {
  font-size: 18px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase; }

p {
  display: block;
  justify-content: center;
  text-align: justify;
  font-size: 12px;
  color: #ffffff;
  background-color: none;
  font-style: italic; }

/*mobile*/
@media only screen and (max-width: 767px) {
  .animate__animated {
    justify-content: center;
    text-align: justify;
    font-size: 36px;
    text-align: center;
    color: #46587f;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    text-transform: uppercase; }
  .descripcion {
    display: block;
    justify-content: center;
    text-align: justify; }
    .descripcion .des {
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      padding: 10px 40px 10px 40px;
      line-height: 3.8; }
  .contenedorequipo {
    background: #ffffff;
    --animate-duration: 3s; }
  .flexequipo {
    display: block;
    justify-content: center; }
  .team {
    display: block;
    align-items: center;
    width: 360px;
    height: 370px;
    background: #ffffff;
    position: relative;
    transition: .6s ease-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding-left: 30px; }
    .team img {
      border-radius: 5px;
      align-items: center; }
  .team:hover {
    transform: translateY(15px); }
  .team:hover::before {
    opacity: 1; }
  .team:hover .text {
    opacity: 1;
    transform: translateY(0); }
  .team:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(top, #000, transparent);
    z-index: 2;
    transition: 0.5s;
    opacity: 0; }
  .team .text {
    position: relative;
    padding-top: 200px;
    padding-right: 40px;
    z-index: 3;
    color: #ffffff;
    opacity: 0;
    transform: translateY(-50px);
    transition: 0.5s;
    display: block;
    justify-content: center;
    text-align: justify; }
  .text span {
    font-size: 12px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    display: block;
    justify-content: center;
    text-align: justify; }
  p {
    font-size: 10px;
    color: #ffffff;
    background-color: none;
    display: block;
    justify-content: center;
    text-align: justify;
    color: #ffffff;
    font-style: italic; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: none; }

.footer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "footer-left footer-center footer-right";
  height: 200px;
  width: 100%;
  padding: 20px;
  align-items: flex-start;
  background-color: #F6F5F5; }

.footer-left {
  padding: 15px;
  position: relative;
  left: 70px; }
  .footer-left .logo {
    padding-top: 10px; }
  .footer-left .logo2 {
    display: none; }

.footer-center {
  padding: 20px;
  font-size: 12px;
  text-align: 2;
  display: flex;
  flex-direction: column; }
  .footer-center .fas {
    font-size: 18px;
    color: #46587f;
    padding: 10px;
    padding-bottom: 10px;
    padding-right: 10px; }

h3 {
  padding-left: 12px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500; }

.footer-right {
  padding: 20px;
  font-size: 12px;
  text-align: 2;
  display: flex;
  flex-direction: column; }
  .footer-right .social a {
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 10px;
    margin: 0px 5px;
    font-size: 24px;
    color: #46587f;
    text-decoration: none; }

.fab {
  background-color: none;
  padding-top: 10px;
  text-align: center;
  border-radius: 5px;
  transition: 0.3s;
  text-decoration: none; }

.social a:hover {
  background: #93a2b6;
  border-radius: 50%;
  text-align: center;
  height: 50px;
  width: 50px;
  padding: 10px;
  margin: 0px 5px;
  transition: background .4s; }

/*footer 2*/
.footer2 {
  background-color: #46587f;
  display: flex;
  height: 20px;
  align-content: center;
  justify-content: center; }
  .footer2 .derechos {
    justify-content: center; }
  .footer2 p {
    font-size: 10px;
    color: #93a2b6;
    padding-left: 300px;
    padding-top: 10px; }

@media only screen and (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 100%;
    padding: 15px;
    background-color: #F6F5F5; }
    .footer .footer-left {
      display: flex;
      flex-direction: column;
      padding: 0px;
      top: 15px; }
      .footer .footer-left .logo {
        display: none; } }

.fas {
  font-size: 10px; }

span {
  font-size: 10px; }

.footer-right {
  padding: 20px;
  font-size: 12px;
  text-align: 2;
  display: flex;
  flex-direction: column; }
  .footer-right .social a {
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 10px;
    margin: 0px 5px;
    font-size: 24px;
    color: #46587f;
    text-decoration: none; }

.fab {
  background-color: none;
  padding-top: 10px;
  text-align: center;
  border-radius: 5px;
  transition: 0.3s; }

.social a:hover {
  background: #93a2b6;
  border-radius: 50%;
  text-align: center;
  height: 50px;
  width: 50px;
  padding: 10px;
  margin: 0px 5px;
  transition: background .4s; }

.footer2 {
  background-color: #46587f;
  display: flex;
  height: 20px;
  align-content: center;
  justify-content: center; }
  .footer2 .derechos {
    justify-content: center; }
  .footer2 p {
    font-size: 10px;
    color: #93a2b6;
    padding-left: 5px;
    padding-top: 0;
    margin: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: none; }

/*gridgallery*/
#proyectos {
  width: 100%;
  padding-bottom: 0; }

.main {
  display: grid;
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 0; }

.main h2 {
  font-size: 36px;
  text-transform: uppercase;
  color: #46587f;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center; }

.main .gallery {
  position: relative;
  height: auto;
  width: 90%;
  margin: auto;
  padding: 45px 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2vh;
  grid-auto-flow: dense; }

.main .gallery .img {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden; }

.main .gallery .img:first-child {
  grid-column-start: span 2;
  grid-row-start: span 2; }

.main .gallery .img:nth-child(2n+3) {
  grid-row-start: span 2; }

.main .gallery .img:nth-child(4n+5) {
  grid-column-start: span 2;
  grid-row-start: span 2; }

.main .gallery .img:nth-child(6n+7) {
  grid-row-start: span 1; }

.main .gallery .img:nth-child(8n+9) {
  grid-column-start: span 1;
  grid-row-start: span 1; }

.main .gallery .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 1.0;
  transition: 0.3s ease-in-out; }

.main .gallery .img:hover img {
  opacity: 0.5; }

.img:hover .overlay .overlaytext {
  position: absolute;
  padding: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .3s ease;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0), #93a2b6);
  opacity: 0.5; }

.overlaytext h4 {
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase; }

.subtext {
  font-size: 14px;
  text-align: center; }

.animate__animated.animate__pulse {
  --animate-duration: 3s; }

@media only screen and (max-width: 767px) {
  .main .gallery {
    display: grid;
    grid-template-columns: auto auto; }
  .main .gallery .img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 2% 0;
    opacity: 1.0;
    transition: 0.3s ease-in-out; }
  .main .gallery .img img {
    display: block; }
  .main .gallery .img:hover img {
    opacity: 0.5; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: none;
  color: #262425; }

#contacto {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  color: #46587f;
  margin: 0;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.form {
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .form .suscripcion p {
    font-size: 14px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-bottom: 50px;
    padding-left: 10px;
    color: #000000; }

.group {
  margin: 20px;
  width: 100%;
  position: relative;
  color: #000000; }

input {
  font-size: 14px;
  color: #000000;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #93a2b6; }

input:focus {
  width: 100%;
  outline: none;
  box-sizing: border-box; }

textarea {
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #93a2b6; }
  textarea textarea:focus {
    width: 100%;
    outline: none;
    box-sizing: border-box; }

.boton {
  font-size: 12px;
  display: block;
  width: 70%;
  border: none;
  padding-left: 150px;
  padding-bottom: 30px; }
  .boton input {
    padding: 9px 25px;
    background-color: #46587f;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s; }

.boton input:hover {
  background-color: #93a2b6;
  color: #ffffff; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: none; }

body {
  background-color: none;
  font-family: "Montserrat", sans-serif; }

a {
  color: #46587f; }

/* header */
.header {
  background-color: none;
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 3; }

.header ul {
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: none; }

.header ul .menu {
  background-color: none;
  padding: 10px;
  padding-right: 80px; }

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  text-transform: uppercase; }

.header li a:hover,
.header .menu-btn:hover {
  border-bottom: 2px solid #93a2b6; }

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 20px;
  padding-left: 80px; }

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out; }

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none; }

.header .menu-icon .nav-icon {
  background: #46587f;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px; }

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: #46587f;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%; }

.header .menu-icon .nav-icon:before {
  top: 5px; }

.header .menu-icon .nav-icon:after {
  top: -5px; }

/* menu btn */
.header .menu-btn {
  display: none; }

.header .menu-btn:checked ~ .menu {
  max-height: 240px; }

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent; }

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0; }

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0; }

/* 48em = 768px @ 16pt font */
@media (min-width: 48em) {
  .header li {
    float: left; }
  .header li a {
    padding: 10px 10px;
    color: #93a2b6; }
  .header .menu {
    clear: none;
    float: right;
    max-height: none; }
  .header .menu-icon {
    display: none;
    margin: 0; } }

.header ul {
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: none;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 80px; }
