@import"components/colors";
@import"components/tipos";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: none;
    color: $base;
}

#contacto {
    font-family: $family;
    text-transform: uppercase;
    font-size: $sub;
    color: $back;
    padding-bottom: 5px;
}

.form {
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .suscripcion {
        p {
            font-size: $subtitle;
            align-items: center;
            padding-left: 40px;
            padding-bottom: 40px;
            color: $black;
        }
    }
}

.group {
    margin: 20px;
    width: 100%;
    position: relative;
    color: $black;
    label {
        color: $back;
        font-size: $foot;
        position: absolute;
        left: 10px;
        top: 10px;
    }
}

input {
    font-size: $font;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid $hover;
}

input:focus {
    width: 100%;
    outline: none;
    box-sizing: border-box;
}

textarea {
    font-size: $subtitle;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid $hover;
    textarea:focus {
        width: 100%;
        outline: none;
        box-sizing: border-box;
    }
}

.boton {
    font-size: $foot;
    display: block;
    width: 70%;
    border: none;
    padding-left: 150px;
    padding-bottom: 30px;
    input {
        padding: 9px 25px;
        background-color: $back;
        color: $white;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
}

.boton input:hover {
    background-color: $hover;
    color: $white;
}