                 @import"components/colors";
                 @import"components/tipos";
                 * {
                     margin: 0;
                     padding: 0;
                     box-sizing: border-box;
                     background-color: none;
                     color: $white;
                 }
                 /*SECCIÓN EQUIPO*/
                 
                 .animate__animated {
                     font-size: $title;
                     text-align: center;
                     color: $back;
                     font-family: $family;
                     font-weight: 900;
                     text-transform: uppercase;
                     padding: 15px;
                 }
                 
                 .contenedorequipo {
                     background: $white;
                     --animate-duration: 3s;
                 }
                 
                 .flexequipo {
                     display: flex;
                     justify-content: center;
                     padding: 70px;
                     padding-bottom: 100px;
                 }
                 
                 .team {
                     width: 430px;
                     height: 450px;
                     margin: 40px;
                     background: $white;
                     position: relative;
                     transition: .6s ease-out;
                     box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
                     border-radius: 5px;
                     img {
                         border-radius: 5px;
                     }
                 }
                 
                 .team:hover {
                     transform: translateY(15px);
                 }
                 
                 .team:hover::before {
                     opacity: 1;
                 }
                 
                 .team:hover .text {
                     opacity: 1;
                     transform: translateY(0);
                 }
                 
                 .team:before {
                     content: '';
                     position: absolute;
                     top: 0;
                     left: 0;
                     display: block;
                     width: 100%;
                     height: 100%;
                     background: linear-gradient(top, #000, transparent);
                     z-index: 2;
                     transition: 0.5s;
                     opacity: 0;
                 }
                 
                 .team img {
                     width: 100%;
                     height: 100%;
                     position: absolute;
                     top: 0;
                     left: 0;
                 }
                 
                 .team .text {
                     position: relative;
                     padding: 15px;
                     padding-top: 320px;
                     z-index: 3;
                     color: $white;
                     opacity: 0;
                     transform: translateY(-50px);
                     transition: 0.5s;
                 }
                 
                 .text span {
                     font-size: $font;
                     color: $white;
                     font-family: $family;
                     text-transform: uppercase;
                 }
                 
                 p {
                     font-size: $subtitle;
                     color: $white;
                     background-color: none;
                 }
                 /*mobile*/
                 
                 @media only screen and (max-width:767px) {
                     .animate__animated {
                         font-size: $title;
                         text-align: center;
                         color: $back;
                         font-family: $family;
                         font-weight: 900;
                         text-transform: uppercase;
                     }
                     .contenedorequipo {
                         background: $white;
                         --animate-duration: 3s;
                     }
                     .flexequipo {
                         display: block;
                         justify-content: center;
                         padding: 0;
                     }
                     .team {
                         display: block;
                         align-items: center;
                         margin: 0;
                         width: 430px;
                         height: 450px;
                         background: $white;
                         position: relative;
                         transition: .6s ease-out;
                         box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
                         border-radius: 5px;
                         img {
                             border-radius: 5px;
                             align-items: center;
                         }
                     }
                 }