@import"components/colors";
@import"components/tipos";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: none;
}

.footer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "footer-left footer-center footer-right";
    height: 200px;
    width: 100%;
    padding: 20px;
    align-items: flex-start;
    background-color: $footer;
}

.footer-left {
    padding: 15px;
    position: relative;
    left: 70px;
    .logo {
        padding-top: 10px;
    }
    .logo2 {
        display: none;
    }
}

.footer-center {
    padding: 20px;
    font-size: 12px;
    text-align: 2;
    display: flex;
    flex-direction: column;
    .fas {
        font-size: 18px;
        color: $back;
        padding: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
    }
}

h3 {
    padding-left: 12px;
    font-size: $subtitle;
    font-family: $family;
    text-transform: uppercase;
    font-weight: 500;
}

.footer-right {
    padding: 20px;
    font-size: $foot;
    text-align: 2;
    display: flex;
    flex-direction: column;
    .social a {
        height: 30px;
        width: 30px;
        text-align: center;
        padding: 10px;
        margin: 0px 5px;
        font-size: $sub;
        color: $back;
        text-decoration: none;
    }
}

.fab {
    background-color: none;
    padding-top: 10px;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s;
    text-decoration: none;
}

.social a:hover {
    background: $hover;
    border-radius: 50%;
    text-align: center;
    height: 50px;
    width: 50px;
    padding: 10px;
    margin: 0px 5px;
    transition: background .4s;
}


/*footer 2*/

.footer2 {
    background-color: $back;
    display: flex;
    height: 20px;
    align-content: center;
    justify-content: center;
    .derechos {
        justify-content: center;
    }
    p {
        font-size: $font-p;
        color: $hover;
        padding-left: 300px;
        padding-top: 10px;
    }
}

@media only screen and (max-width:767px) {
    .footer {
        display: flex;
        flex-direction: row;
        height: 200px;
        width: 100%;
        padding: 15px;
        background-color: $footer;
        .footer-left {
            display: flex;
            flex-direction: column;
            padding: 0px;
            top: 15px;
            .logo {
                display: none;
            }
        }
    }
}

.fas {
    font-size: $font-p;
}

span {
    font-size: $font-p;
}

.footer-right {
    padding: 20px;
    font-size: $foot;
    text-align: 2;
    display: flex;
    flex-direction: column;
    .social a {
        height: 30px;
        width: 30px;
        text-align: center;
        padding: 10px;
        margin: 0px 5px;
        font-size: $sub;
        color: $back;
        text-decoration: none;
    }
}

.fab {
    background-color: none;
    padding-top: 10px;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s;
}

.social a:hover {
    background: $hover;
    border-radius: 50%;
    text-align: center;
    height: 50px;
    width: 50px;
    padding: 10px;
    margin: 0px 5px;
    transition: background .4s;
}

.footer2 {
    background-color: $back;
    display: flex;
    height: 20px;
    align-content: center;
    justify-content: center;
    .derechos {
        justify-content: center;
    }
    p {
        font-size: $font-p;
        color: $hover;
        padding-left: 5px;
        padding-top: 0;
        margin: 0;
    }
}