                        @import"components/colors";
                        @import"components/tipos";
                        * {
                            margin: 0;
                            padding: 0;
                            box-sizing: border-box;
                            background-color: none;
                        }
                        
                        #proyectos {
                            width: 100%;
                        }
                        /*pruebagridbootstrap*/
                        
                        .container {
                            margin: auto;
                            padding-bottom: 100px;
                            .row .img {
                                width: 100%;
                                height: 100%;
                                gap: 10px;
                                margin: 50px;
                                object-fit: cover;
                            }
                        }
                        
                        h2 {
                            font-size: $title;
                            text-transform: uppercase;
                            color: $back;
                            font-family: $family;
                            font-weight: 900;
                            padding-top: 100px;
                            text-align: center;
                        }
                        
                        .animate__animated.animate__pulse {
                            --animate-duration: 3s;
                        }