                    @import"components/colors";
                    * {
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                        background-color: none;
                    }
                    /* slider */
                    
                    .container {
                        padding-top: 150px;
                        padding-bottom: 200px;
                    }
                    /*mobile*/
                    
                    @media only screen and (max-width:767px) {
                        .container {
                            padding-bottom: 300px;
                        }
                    }