@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
$family: 'Montserrat',
sans-serif;
$fam: "'Noto Sans JP', sans-serif";
$title:36px;
$font:18px;
$font-p:10px;
$subtitle:14px;
$foot:12px;
$sub:24px;